/* start with mobile first */

header, footer, aside, section {
  box-sizing: border-box;
  height: 200px; 
  border: 1px solid black;
  background-color: lightcoral;
  color: red;
  text-align: center;
  line-height: 200px;
}
