<!DOCTYPE html>
<html>
  <head>
    <title>My First EJS View</title>
    <link rel="stylesheet" href="./styles/base.css" />
  </head>
  <body>
    <h1>Hello from EJS!</h1>
    <ul>
      <a href="/list">Grocery List</a>
      <a href="/cart">Cart</a>
    </ul>
  </body>
</html>
