@media (min-width: 960px) {

  main {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    height: calc(100% - 140px);
  }

  main > aside {
    order: 3;
  }

  main > .content {
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: stretch;
    align-content: center;
  }
}
